<div class="container">
    <div class="row justify-content-start">
        <div class="entete">
                <h2>Mes evenements</h2>
                <p>Ma liste d'evenements crées actifs et achevés</p>
        </div>
    </div>
    <div class="row justify-content-start">
        <div class="col-md-3 card-event">
            <div class="head_card">
                <span class="badge">actif</span>
                <span class="dots"></span>
            </div>
            <hr>
            <p class="date_card">20.10.2022</p>
            <h3>Event Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque placeat deserunt in consequuntur magnam!</p>
        </div>

        <div class="col-md-3 card-event">
            <div class="head_card">
                <span class="badge">actif</span>
                <span class="dots"></span>
            </div>
            <hr>
            <p class="date_card">20.10.2022</p>
            <h3>Event Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque placeat deserunt in consequuntur magnam!</p>
        </div>

        <div class="col-md-3 card-event">
            <div class="head_card">
                <span class="badge_desible">Inactif</span>
                <span class="dots"></span>
            </div>
            <hr>
            <p class="date_card">20.10.2022</p>
            <h3>Event Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque placeat deserunt in consequuntur magnam!</p>
        </div>

        <div class="col-md-3 card-event">
            <div class="head_card">
                <span class="badge">actif</span>
                <span class="dots"></span>
            </div>
            <hr>
            <p class="date_card">20.10.2022</p>
            <h3>Event Title</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore doloremque placeat deserunt in consequuntur magnam!</p>
        </div>
    </div>
</div>
