.Main{
    position: absolute;
    left: 280px;
    right: 0;
    top: 0;
    bottom: 0;
    height: auto;
}
.Plain{
    padding: 0 40px 0;
}
.Main .header{
    width: auto;
    border-bottom: 1px rgb(238, 238, 238) solid;
    padding: 0px 40px 0px;
    height: 13vh;
}

.Main .header form input{
    border-radius: 5px;
    border: 1px rgb(216, 216, 216) solid;
    padding: 10px;
    outline-style:none;
}