<div class="container">
    <div class="hero-bord">
        <div class="welcome">
            <h2>Bonjour et bienvenu Clinton!</h2>
            <P>Acceuil | Dashbord</P>
        </div>
        <div class="new-project">
            <button (click)="goToForm()"> Créer un evenement</button>
        </div>
    </div>
    <div class="card_bord">
        <div class="card">
            <h3>0</h3>
            <p>Total réservation</p>
        </div>
        <div class="card">
            <h3><sup>$</sup> 0</h3>
            <p>Solde USD</p>
        </div>
        <div class="card">
            <h3><sup>Cdf</sup> 0</h3>
            <p>Solde CDF</p>
        </div>
        <div class="card">
            <h3>0</h3>
            <p>Evenements</p>
        </div>
    </div>
    <div class="graph">
        <div class="statistic">
            <canvas id="myChart"></canvas>
        </div>
        <div class="statistic">
            <canvas id="myChart1"></canvas>
        </div>
    </div>
</div>